* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
}
    
.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1300px) 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "header header header"
    ". middle-content ."
    ". footer .";
}

/*===================header====================*/

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1px solid lightgray;
    align-items: center;
}

.top-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "website-home orange-dot try-headspace";
    margin: 0.5rem 0rem;
}

.website-home {
    grid-area: website-home;
    margin-left: 2rem;
    justify-self: start;
    text-decoration: none;
    text-transform: uppercase;
    color: #5a6175;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.dot-link {
    display: grid;
    justify-items: center;
}

.orange-dot {
    max-width: 4.5rem;
}

.button {
    padding: 1.5rem 2.5rem;
    border: 2px solid;
    border-radius: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-align: center;
}

.button-orange {
    justify-self: end;
    margin-right: 2rem;
    border-color: #F58B44;
    color: #F58B44;
}

.button-orange:hover {
    background-color: #F58B44;
    color: white;
}

.lower-header {
    margin: 2rem 0;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    display: inline;
    margin: 1rem;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #5a6175;
    padding: 2rem;
    font-size: .8rem;
    letter-spacing: .15rem;
}
/*===================middle====================*/

.middle-content {
    grid-area: middle-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "main aside";
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
}


.hero-content {
    margin: 3rem;
}

.secondary-content {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    grid-auto-flow: row;
}
.hero-article {
    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 100%;
}

.hero-title {
    color: #5a6175;
    font-size: 4.5rem;
    text-decoration: none;
    font-weight: 700;
    line-height: 4.5rem;
}

.hero-title:hover {
    color: #F58B44;
}

.secondary-article {
    display: flex;
    flex-direction: column;
}

.article-image {
    width: 100%;
}

.article-category {
    text-decoration: none;
    text-transform: uppercase;
    color: #5a6175;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

}

.article-title {
    text-decoration: none;
    font-size: 2rem;
    color: #5a6175;
    font-weight: 700;
    margin-top: .5rem;
}

.article-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
    line-height: 1.8rem;
    color: #5a6175;
}

.article-author {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.button-black {
    justify-self: end;
    margin-right: 2rem;
    border-color: #5a6175;
    color: #5a6175;
    justify-self: center;
}

.button-black:hover {
    background-color: #5a6175;
    color: white;
}

/*===================sidebar====================*/

.sidebar {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto 1fr;
    border-left: 0.1px solid lightgray;
}

.editors-picks {
    padding: 3rem;
}

.popular-posts {
    background-color: #f5f3ee;
    padding: 3rem;
    border-top: 0.1px solid lightgray;
}

.aside-header {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: #5a6175;
}

.aside-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.aside-title {
    text-decoration: none;
    color: #5a6175;
    font-size: 1.8rem;
    font-weight: 700;
}

.aside-image {
    width: 100%;
}

/*===================middle====================*/

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 3rem;
    padding-top: 3rem;
}

.blog-categories {
    margin-left: 3rem;
}

.headspace-nav {}

.download-app {}

.read-more {
    margin-right: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #5a6175;
    margin-top: 0.3rem;
}

.read-more a {
    text-decoration: none;
    color: #F58B44;
}


.footer-nav-title {
    color: #5a6175;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;
}

.footer-nav {
    list-style-type: none;
    position: relative;
    left: -2.6rem;
}

.footer-nav li {
    padding: 1rem 0;
}

.footer-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #5a6175;
}

.app-img {
    padding-right: 4rem;
    margin-top: 1rem;
    width: 100%;
}

@media only screen and (max-width: 850px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "middle-content"
        "footer";
    }

    .middle-content {
        grid-area: middle-content;
        grid-template-columns: 1fr;
        grid-template-areas:
        "main"
        "aside";
    }

    .secondary-content {
        grid-template-columns: 1fr;
    }

    .top-header {
        grid-template-columns: 1fr;
    }

    .website-home {
        display: none;
    }

    .button-orange {
        display: none;
    }
}